---
layout: single
---

{{ content }}

<p>I am a Postdoctoral Fellow in <a href="https://www.dbei.med.upenn.edu/">Biostatistics</a> with the <a href="https://www.cceb.med.upenn.edu/pennsive">PENNSIVE Lab</a> 
 at the <a href="https://www.upenn.edu/">University of Pennsylvania</a> with my advisor <a href="https://www.med.upenn.edu/apps/faculty/index.php/g275/p8574254">Dr. Russell Shinohara</a>.</p>
<p>I received my PhD in <a href="https://sph.unc.edu/bios/biostatistics/">Biostatistics</a> from <a href="https://www.unc.edu/">University of North Carolina at Chapel Hill</a>.  
With my advisor <a href="https://sph.unc.edu/adv_profile/kinh-truong-phd/">Dr. Kinh Truong</a>, I worked on developing methods extending 
<a href="https://en.wikipedia.org/wiki/Independent_component_analysis">independent component analysis</a> to analyze functional connectivity and point process data.</p>
<p>Through my work at the <a href="http://www.cidd.unc.edu/">Carolina Institute of Developmental Disabilities</a>, I
  <ul>
    <li>Used machine learning to predict future autism diagnosis in infants based on behavioral data</li>
    <li>Conducted inference on associations between autism diagnosis, behavioral outcomes, and brain measures</li>
    <li><a href="https://kmdono02.github.io/Data_Analysis_with_R_IBIS/">Taught</a> statistical concepts and R programming</li>
  </ul> </p>
<p>For more information, please check out my <a href="/software/">developed statistical software</a>, 
<a href="/teaching/">developed course materials</a>,
<a href="https://bibbase.org/show?bib=https%3A%2F%2Fkmdono02.github.io%2FCV%2FCV.bib">publications</a>, 
  <a href="/CV/CV.pdf">CV</a></a>, and <a href="https://github.com/kmdono02">GitHub account</a>.</p>
        <dl style="width:40%; float:left; margin-top:-30px;">
            <h2>Research Interests</h2>
            <dt>Functional Data Analysis</dt>
            <dt>Signal Processing</dt>
            <dt>Machine Learning</dt>
            <dt>Network Analysis</dt>
          </dl>
          <dl style="width:50%; float:right; margin-top:-30px;">
            <h2>Education</h2>
            <dt>PhD in Biostatistics: 2021</dt>
              <dd><FONT SIZE=4>University of North Carolina at Chapel Hill</FONT></dd>
            <dt>BS in Mathematics, Economics: 2015</dt>
              <dd><FONT SIZE=4>Syracuse University</FONT></dd>
          </dl>
